@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.wrapper {
  background: #fff;
  max-width: 500px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.main input:first-child {
  height: 30px;
  width: 65%;
}

.dis {
  opacity: 0.6;
}

.inp {
  display: block;
  height: 30px;
  background-color: red;
  color: white;
  margin-left: 10px;
  width: 30%;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  z-index: 5;
}
.inp:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.back {
  position: absolute;
  content: 'Добавить';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  padding-top: 7px;
  transition: 0.4s;
  transform: translate(300px);
}
.switch {
  transform: translate(0);
}
.todo {
  padding: 5px;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  background: #f2f2f2;
  border-radius: 3px;
  line-height: 45px;
  cursor: default;
  overflow: hidden;
  padding: 0;
}

.done {
  padding: 5px;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  background: #8e49e8;
  border-radius: 3px;
  line-height: 45px;
  cursor: default;
  overflow: hidden;
  padding: 0;
}

.text {
  text-decoration: line-through;
  margin: auto;
}

.li {
  display: flex;
}
.act {
  color: olive;
  background: gold;
}
.change {
  font-weight: 800;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
}
.inputField input {
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}
input:focus {
  border-color: #8e49e8;
}

.inputField {
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}

.inputField button {
  padding-top: 5px !important;
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #8e49e8;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.inputField button:hover {
  background: #721ce3;
}

span {
  padding-top: 9px !important;
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  font-size: 21px;
  outline: none;
  background: #6f00ff;
  cursor: pointer;
  border-radius: 3px;
  pointer-events: none;
  margin-bottom: -3px;
}

.deleteBtn {
  font-size: 25px;
  color: white;
  background-color: red;
  border: none;
  outline: none;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

button {
  border: none;
}

.checkbox {
  margin-left: 10px;
}

.loader {
  background: transparent;
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  position: absolute;
  border-radius: 50%;
  animation: circle14512 2s linear infinite;
}

.circle::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: blueviolet;
  box-shadow: 0 0 20px blueviolet, 0 0 60px blueviolet;
}

@keyframes circle14512 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  gap: 20px;
  flex-direction: column;
  margin-top: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  gap: 20px;
  flex-direction: column;
  margin-top: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.signin button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: 'JetBrains Mono', monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.signin button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.signin button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.signin button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.signup button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: 'JetBrains Mono', monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.signup button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.signup button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.signup button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.signup input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
